<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>{% block title %}Título de la página{% endblock %}</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/img/icons/logo.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/img/icons/logo.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/img/icons/logo.png'%}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/icons/logo.png'%}">
    <link rel="manifest" href="{% static 'core/js/imagesloaded/manifest.json'%}">
    <meta name="msapplication-TileImage" content="{% static 'core/vendors/imagesloaded/imagesloaded.pkgd.min.js'%}">
    <meta name="theme-color" content="#0F111A">
    <script src="{% static 'core/vendors/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static 'core/vendors/simplebar/simplebar.min.js'%}"></script>
    <script src="{% static 'core/js/config.js'%}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="{% static 'core/vendors/simplebar/simplebar.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="{% static 'core/css/theme-rtl.min.css'%}" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="{% static 'core/css/theme.min.css'%}" type="text/css" rel="stylesheet" id="style-default">
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
    <link href="{% static 'core/vendors/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  </head>

  <body>
    <!--    Main Content============================-->
    <main class="alternate-landing" style="--phoenix-scroll-margin-top: 0.3rem;">
      {% if request.path != '/REGIST/'%} 
        {% if request.path != '/LOGIN/'%} 
        <!-- Nav Superior ============================-->
        <div class="bg-white sticky-top landing-navbar" data-navbar-shadow-on-scroll="data-navbar-shadow-on-scroll">
          <nav class="navbar navbar-expand-lg container-small px-3 px-lg-7 px-xxl-3"><a class="navbar-brand flex-1 flex-lg-grow-0" href="/INICIO/">
              <div class="d-flex align-items-center"><img src="{% static 'core/img/icons/logo.png'%}" alt="phoenix" width="27" />
                <p class="logo-text ms-2">D'SOFTWARE SOLUTION</p>
              </div>
            </a>
            <div class="d-lg-none">
              <div class="theme-control-toggle fa-icon-wait px-2"><input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggleSm" /><label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label><label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label></div>
            </div><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="border-bottom border-bottom-lg-0 mb-2">
                <div class="search-box d-inline d-lg-none">
                  <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input search rounded-pill my-4" type="search" placeholder="Search" aria-label="Search" />
                    <span class="fas fa-search search-box-icon"></span>
                  </form>
                </div>
              </div>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item border-bottom border-bottom-lg-0"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3 {% if request.path == '/INICIO/' %}text-info {% endif %} {% if request.path == '/' %}text-info{% endif %}" aria-current="page" href="/INICIO/">INICIO</a></li>
                <li class="nav-item border-bottom border-bottom-lg-0"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3 {% if request.path == '/NOSOTROS/' %}text-info {% endif %}" href="/NOSOTROS/">NOSOTROS</a></li>
                <li class="nav-item border-bottom border-bottom-lg-0"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3 {% if request.path == '/PROTOTIPOS/' %}text-info {% endif %}" href="/PROTOTIPOS/">PROTOTIPOS</a></li>
                <li class="nav-item border-bottom border-bottom-lg-0"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3 {% if request.path == '/NOVEDADES/' %}text-info {% endif %}" href="/NOVEDADES/">NOVEDADES</a></li>
                <li class="nav-item"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3 {% if request.path == '/CONTACTOS/' %}text-info {% endif %}" href="/CONTACTOS/">CONTACTOS</a></li>
              </ul>
              <div class="d-grid d-lg-flex align-items-center">
                <div class="nav-item d-flex align-items-center d-none d-lg-block pe-2">
                  <div class="theme-control-toggle fa-icon-wait px-2">
                    <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
                    <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Cambiar tema"><span class="icon" data-feather="moon"></span></label>
                    <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Cambiar tema"><span class="icon" data-feather="sun"></span></label>
                  </div>
                </div>
                <a class="text-700 hover-text-1100 px-2 d-none d-lg-inline lh-sm" href="#" data-bs-toggle="modal" data-bs-target="#searchBoxModal"><span data-feather="search" style="height: 20px; width: 20px;"></span></a>
                <a class="btn btn-link text-900 order-0 order-lg-0 ps-3 me-1" href="/LOGIN/">Iniciar sesión</a>
                <a class="btn btn-phoenix-primary order-0" href="/REGIST/"><span class="fw-bold">Registrate</span></a>

                </div>
              
              </div> 
            </div>
           
          </nav>
        </div>
        {% endif %}
    {% endif %}
    <!--Mensage de paginas============================-->
    {% for message in messages %}
      {%if message.tags == 'warning' %} 
      <div class="alert alert-warning d-flex align-items-center" role="alert">
        <span class="fas fa-info-circle text-warning fs-3 me-3"></span>
        <p class="mb-0 flex-1">{{ message }}</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {%if message.tags == 'success' %}
      <div class="alert alert-success d-flex align-items-center" role="alert">
        <span class="fas fa-check-circle border-white fs-3 me-3"></span>
        <p class="mb-0 flex-1 "> {{ message }}</p>
        <button class="btn-close " type="button" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {%if message.tags == 'error' %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
          <span class="fas fa-times-circle text-danger fs-3 me-3"></span>
          <p class="mb-0 flex-1">{{ message }}</p>
          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    {% endfor %}
    <!--Contenido de paginas============================-->
    {% block content %}
    Content
    {% endblock %}
    <!-- ============================================-->  
      
    {% if request.path != '/REGIST/'%}
      {% if request.path != '/LOGIN/'%}
        <!-- <section> Antes del footer ============================-->
        <section class="bg-100 dark__bg-1100 py-9">
        <div class="container-small">
          <img class="position-absolute d-none d-dark-none d-lg-block" src="{% static 'core/img/bg/10-dark.png'%}" width="100%" height="80%" alt=""style="bottom: 0px; left: 0px" />
          <img class="position-absolute d-none d-lg-block d-light-none" src="{% static 'core/img/bg/10.png'%}" width="100%" height="80%" alt=""style="bottom: 0px; left: 0px" />
          <div class="row justify-content-between gy-4">
            <div class="col-12 col-md-5 ">
              <div class="d-flex align-items-center mb-3"><img src="{% static 'core/img/icons/logo.png'%}" alt="phoenix" width="27" />
                <p class="logo-text ms-2 ">D'SOFTWARE SOLUTION</p>
              </div>
              <p class="text-700 mb-1 fw-semi-bold lh-sm fs--1">Descripción</p>
            </div>
            <div class="col-6 col-md-4 col-lg-auto">
              <h5 class="fw-bolder mb-3">Enlaces rápidos</h5>
              <div class="d-flex flex-column"><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">nosotros</a><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Prototipos</a><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Novedades</a><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Contactos</a></div>
            </div>
            <div class="col-6 col-md-4 col-lg-auto">
              <h5 class="fw-bolder mb-3">Redes</h5>
              <div class="d-flex flex-column"><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Blogs</a><a class="mb-1 fw-semi-bold fs--1" href="#!"><span class="fab fa-facebook-square text-800 me-2 fs-0"></span><span class="text-800">Facebook</span></a><a class="mb-1 fw-semi-bold fs--1" href="#!"><span class="fab fa-twitter-square text-800 me-2 fs-0"></span><span class="text-800">Twitter</span></a></div>
            </div>
            <div class="col-6 col-md-4 col-lg-auto">
              <h5 class="fw-bolder mb-3">Contactos</h5>
              <div class="d-flex flex-column">
                <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!"><span class=" fab fa-telegram-plane text-800 me-2 fs-0"></span> Miguel@gmail.com</a>
                <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!"><span class=" fab fa-telegram-plane text-800 me-2 fs-0"></span> Jesusadelso25@gmail.com</a>
                <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!"><span class=" fab fa-solid  fa-phone text-800 me-2 fs-0"></span> (809)270-0543</a>
                <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!"><span class=" fab fa-solid  fa-phone text-800 me-2 fs-0"></span> (809)270-0543</a>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
        </section>
        <!-- ============================================-->
        <!-- <section> footer ============================-->
        <footer class="footer position-relative">
        <div class="row g-0 justify-content-center align-items-center h-100">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 mt-2 mt-sm-0 text-900">Todos los derechos reservados <span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;<a class="mx-1" href="#">D'SOFTWARE SOLUTION</a></p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">V0.0.01</p>
          </div>
        </div>
        </footer>
        <!-- ============================================-->
      {% endif %}
    {% endif %}

    </main>
    <!--Fin Main Content-->
    <!-- ===============================================-->
    <!--Modificacion de tema-->
    <div class="offcanvas offcanvas-end settings-panel border-0" id="settings-offcanvas" tabindex="-1" aria-labelledby="settings-offcanvas">
      <div class="offcanvas-header align-items-start border-bottom flex-column">
        <div class="pt-1 w-100 mb-6 d-flex justify-content-between align-items-start">
          <div>
            <h5 class="mb-2 me-2 lh-sm"><span class="fas fa-palette me-2 fs-0"></span>Personalizador de temas</h5>
            <p class="mb-0 fs--1">Explora diferentes estilos según tus preferencias</p>
          </div><button class="btn p-1 fw-bolder" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><span class="fas fa-times fs-0"> </span></button>
        </div><button class="btn btn-phoenix-secondary w-100" data-theme-control="reset"><span class="fas fa-arrows-rotate me-2 fs--2"></span>Restablecen a los valores predeterminado</button>
      </div>
      <div class="offcanvas-body scrollbar px-card" id="themeController">
        <div class="setting-panel-item mt-0">
          <h5 class="setting-panel-item-title">Esquema de colores</h5>
          <div class="row gx-2">
            <div class="col-6"><input class="btn-check" id="themeSwitcherLight" name="theme-color" type="radio" value="light" data-theme-control="phoenixTheme" /><label class="btn d-inline-block btn-navbar-style fs--1" for="themeSwitcherLight"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="{% static 'core/img/generic/default-light.png'%}" alt=""/></span><span class="label-text">Claro</span></label></div>
            <div class="col-6"><input class="btn-check" id="themeSwitcherDark" name="theme-color" type="radio" value="dark" data-theme-control="phoenixTheme" /><label class="btn d-inline-block btn-navbar-style fs--1" for="themeSwitcherDark"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="{% static 'core/img/generic/default-dark.png'%}" alt=""/></span><span class="label-text"> Oscuro</span></label></div>
          </div>
        </div>
        <div class="border rounded-3 p-4 setting-panel-item bg-white">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="setting-panel-item-title mb-1">RTL </h5>
            <div class="form-check form-switch mb-0"><input class="form-check-input ms-auto" type="checkbox" data-theme-control="phoenixIsRTL" /></div>
          </div>
          <p class="mb-0 text-700">Cambia la dirección del texto</p>
        </div>
      </div>
    </div><a class="card setting-toggle" href="#settings-offcanvas" data-bs-toggle="offcanvas">
      <div class="card-body d-flex align-items-center px-2 py-1">
        <div class="position-relative rounded-start" style="height:34px;width:28px">
          <div class="settings-popover"><span class="ripple"><span class="fa-spin position-absolute all-0 d-flex flex-center"><span class="icon-spin position-absolute all-0 d-flex flex-center"><svg width="20" height="20" viewBox="0 0 20 20" fill="#ffffff" xmlns="http://www.w3.org/2000/svg"><path d="M19.7369 12.3941L19.1989 12.1065C18.4459 11.7041 18.0843 10.8487 18.0843 9.99495C18.0843 9.14118 18.4459 8.28582 19.1989 7.88336L19.7369 7.59581C19.9474 7.47484 20.0316 7.23291 19.9474 7.03131C19.4842 5.57973 18.6843 4.28943 17.6738 3.20075C17.5053 3.03946 17.2527 2.99914 17.0422 3.12011L16.393 3.46714C15.6883 3.84379 14.8377 3.74529 14.1476 3.3427C14.0988 3.31422 14.0496 3.28621 14.0002 3.25868C13.2568 2.84453 12.7055 2.10629 12.7055 1.25525V0.70081C12.7055 0.499202 12.5371 0.297594 12.2845 0.257272C10.7266 -0.105622 9.16879 -0.0653007 7.69516 0.257272C7.44254 0.297594 7.31623 0.499202 7.31623 0.70081V1.23474C7.31623 2.09575 6.74999 2.8362 5.99824 3.25599C5.95774 3.27861 5.91747 3.30159 5.87744 3.32493C5.15643 3.74527 4.26453 3.85902 3.53534 3.45302L2.93743 3.12011C2.72691 2.99914 2.47429 3.03946 2.30587 3.20075C1.29538 4.28943 0.495411 5.57973 0.0322686 7.03131C-0.051939 7.23291 0.0322686 7.47484 0.242788 7.59581L0.784376 7.8853C1.54166 8.29007 1.92694 9.13627 1.92694 9.99495C1.92694 10.8536 1.54166 11.6998 0.784375 12.1046L0.242788 12.3941C0.0322686 12.515 -0.051939 12.757 0.0322686 12.9586C0.495411 14.4102 1.29538 15.7005 2.30587 16.7891C2.47429 16.9504 2.72691 16.9907 2.93743 16.8698L3.58669 16.5227C4.29133 16.1461 5.14131 16.2457 5.8331 16.6455C5.88713 16.6767 5.94159 16.7074 5.99648 16.7375C6.75162 17.1511 7.31623 17.8941 7.31623 18.7552V19.2891C7.31623 19.4425 7.41373 19.5959 7.55309 19.696C7.64066 19.7589 7.74815 19.7843 7.85406 19.8046C9.35884 20.0925 10.8609 20.0456 12.2845 19.7729C12.5371 19.6923 12.7055 19.4907 12.7055 19.2891V18.7346C12.7055 17.8836 13.2568 17.1454 14.0002 16.7312C14.0496 16.7037 14.0988 16.6757 14.1476 16.6472C14.8377 16.2446 15.6883 16.1461 16.393 16.5227L17.0422 16.8698C17.2527 16.9907 17.5053 16.9504 17.6738 16.7891C18.7264 15.7005 19.4842 14.4102 19.9895 12.9586C20.0316 12.757 19.9474 12.515 19.7369 12.3941ZM10.0109 13.2005C8.1162 13.2005 6.64257 11.7893 6.64257 9.97478C6.64257 8.20063 8.1162 6.74905 10.0109 6.74905C11.8634 6.74905 13.3792 8.20063 13.3792 9.97478C13.3792 11.7893 11.8634 13.2005 10.0109 13.2005Z" fill="#2A7BE4"></path></svg></span></span></span></div>
        </div><small class="text-uppercase text-700 fw-bold py-2 pe-2 ps-1 rounded-end">PERSONALIZAR</small>
      </div>
    </a>

    <!-- ===============================================-->
    <!--    JavaScripts  https://prium.github.io/phoenix/v1.11.0/index.html?theme-control=true&color-scheme=dark-->
    <!-- ===============================================-->
    <script src="{% static 'core/vendors/popper/popper.min.js'%}"></script>
    <script src="{% static 'core/vendors/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'core/vendors/anchorjs/anchor.min.js'%}"></script>
    <script src="{% static 'core/vendors/is/is.min.js'%}"></script>
    <script src="{% static 'core/vendors/fontawesome/all.min.js'%}"></script>
    <script src="{% static 'core/vendors/lodash/lodash.min.js'%}"></script>
    <script src="{% static 'core/vendors/list.js/list.min.js'%}"></script>
    <script src="{% static 'core/vendors/feather-icons/feather.min.js'%}"></script>
    <script src="{% static 'core/vendors/dayjs/dayjs.min.js'%}"></script>
    <script src="{% static 'core/js/phoenix.js'%}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'core/vendors/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'core/vendors/isotope-packery/packery-mode.pkgd.min.js'%}"></script>
    <script src="{% static 'core/vendors/bigpicture/BigPicture.js'%}"></script>
    <script src="{% static 'core/vendors/lottie/lottie.min.js'%}"></script>
    <script src="{% static 'core/vendors/countup/countUp.umd.js'%}"></script>
    <script src="{% static 'core/js/GoogleMap/js.js'%}" async></script>
  </body>

</html>


































