<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Mantenimiento</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/img/icons/logo.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/img/icons/logo.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/img/icons/logo.png'%}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/icons/logo.png'%}">
    <link rel="manifest" href="{% static 'core/js/imagesloaded/manifest.json'%}">
    <meta name="msapplication-TileImage" content="{% static 'core/vendors/imagesloaded/imagesloaded.pkgd.min.js'%}">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'core/vendors/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static 'core/vendors/simplebar/simplebar.min.js'%}"></script>
    <script src="{% static 'core/js/config.js'%}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="{% static 'core/vendors/simplebar/simplebar.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="{% static 'core/css/theme-rtl.min.css'%}" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="{% static 'core/css/theme.min.css'%}" type="text/css" rel="stylesheet" id="style-default">
    <link href="{% static 'core/css/user-rtl.min.css'%}" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'core/css/user.min.css'%}" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
    <link href="{% static 'core/vendors/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  </head>

  <body>
    <main class="main" id="top">
      <div class="container-fluid px-0" data-layout="container">
        <div class="px-3">
          <div class="row min-vh-100 flex-center p-5">
            <div class="col-12 col-xl-10 col-xxl-8">
              <div class="row justify-content-center align-items-center g-5">
                <div class="col-12 col-lg-6 text-center order-lg-1"><img class="img-fluid w-lg-100 d-dark-none" src="{% static 'core/img/spot-illustrations/light_Mantenance30.png'%}" alt="" width="400" /><img class="img-fluid w-md-50 w-lg-100 d-light-none" src="{% static 'core/img/spot-illustrations/dark_Mantenance30.png'%}" alt="" width="540" /></div>
                <div class="col-12 col-lg-6 text-center text-lg-start">
                <img class="img-fluid mb-6 w-50 w-lg-75 d-dark-none" src="{% static 'core/img/spot-illustrations/mantenimiento.png'%}" alt="" /><img class="img-fluid mb-6 w-50 w-lg-75 d-light-none" src="{% static 'core/img/spot-illustrations/mantenimiento.png'%}" alt="" />
                <h2 class="text-800 fw-bolder mb-3">!LAMENTAMOS LAS MOLESTIAS! </h2>
                <p class="text-900 mb-5">Este espacio se encuentra en Mantenimiento.<br class="d-none d-sm-block" />Pronto estaremos disponible nuevamente. </p>
                <a class="btn btn-lg btn-primary" href="/INICIO/">Regresar Inicio</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    JavaScripts  https://prium.github.io/phoenix/v1.11.0/index.html?theme-control=true&color-scheme=dark-->
    <!-- ===============================================-->
    <script src="{% static 'core/vendors/popper/popper.min.js'%}"></script>
    <script src="{% static 'core/vendors/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'core/vendors/anchorjs/anchor.min.js'%}"></script>
    <script src="{% static 'core/vendors/is/is.min.js'%}"></script>
    <script src="{% static 'core/vendors/fontawesome/all.min.js'%}"></script>
    <script src="{% static 'core/vendors/lodash/lodash.min.js'%}"></script>
    <script src="{% static 'core/vendors/list.js/list.min.js'%}"></script>
    <script src="{% static 'core/vendors/feather-icons/feather.min.js'%}"></script>
    <script src="{% static 'core/vendors/dayjs/dayjs.min.js'%}"></script>
    <script src="{% static 'core/js/phoenix.js'%}"></script>
    <script src="{% static 'core/vendors/swiper/swiper-bundle.min.js'%}"></script>
  </body>

</html>

