{% extends '../base.html' %}

{% block title %}CONTACTOS{% endblock %}

{% block content %}
{% load static %}
<!--BUSCADOR DE LA PAGINA DE INICIO-->
<div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
  <div class="modal-dialog">
    <div class="modal-content mt-15">
      <div class="modal-body p-0">
        <div class="chat-search-box">
          <div class="form-icon-container"><input class="form-control py-3 form-icon-input rounded-1" type="text" autofocus="autofocus" placeholder="Search People, Groups and Messages" /><span class="fa-solid fa-magnifying-glass fs--1 form-icon"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN-->
{%if contact%}
  <section class="pb-14 overflow-x-hidden">
    <div class="container-small px-lg-7 px-xxl-3">
      <div class="text-center mb-5 position-relative">
        <h5 class="text-info mb-3">CONTACTOS</h5>
        <h2 class="mb-2 lh-base">NUESTRO EMPLEADOS</h2>
      </div>
     
      <div class="carousel testimonial-carousel slide position-relative dark__bg-1100" id="carouselExampleIndicators" data-bs-ride="carousel">
        <div class="bg-holder d-none d-md-block" style="background-size:186px;background-position:top 20px right 20px;"></div>
        <!--/.bg-holder-->
        <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-left-22.png'%}" width="150" alt="" style="top: -100px; left: -70px" />
        <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-right-22.png'%}" width="150" alt="" style="bottom: -80px; right: -80px" />
        <div class="carousel-inner">
          {% for Contact in contact%}
            <div class="carousel-item text-center py-8 px-5 px-xl-15  {% if Contact.id == id %} active {% endif %}">
              {% for i in Contact.estrella %}
                <span class="fa fa-star text-warning"></span>
              {% endfor %}
              <h3 class="fw-semi-bold fst-italic mt-3 mb-8 w-xl-70 mx-auto lh-base">{{Contact.frase}}</h3>
              <div class="d-flex align-items-center justify-content-center gap-3 mx-auto">
                <div class="avatar avatar-3xl ">
                  <img class="rounded-circle border border-2 border-primary" src="{% static  Contact.foto.url %}" alt="" />
                </div>
                <div class="text-start">
                  <h5>{{ Contact.nombre}}</h5>
                  <p class="mb-0">{{Contact.ocupacion}}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="carousel-indicators"><button class="active" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button><button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button><button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 2"></button></div>
      </div>
    </div>
  </section>
{%endif%}
<!-- end of .container-->
<section class="pb-10 pb-xl-14">
  <div class="container-small px-lg-7 px-xxl-3">
    <div class="text-center mb-7">
      <h5 class="text-info mb-3">Contactonos</h5>
      <h2 class="mb-2">Que quieres saber</h2>
    </div>
    <div class="row g-5 g-lg-5">
      <div class="col-md-6 mb-5 mb-md-0 text-center text-md-start">
        <h3 class="mb-3">Mantente conectado</h3>
        <p class="mb-5">Manténgase conectado con el Centro de ayuda de Phoenix; Phoenix está disponible para sus necesidades en todo momento.</p>
        <div class="d-flex flex-column align-items-center align-items-md-start gap-3 gap-md-0">
          <div class="d-md-flex align-items-center">
            <div class="icon-wrapper shadow-info"><span class="uil uil-phone text-primary light fs-4 z-index-1 ms-2"></span></div>
            <div class="flex-1 ms-3"><a class="link-900" href="tel:+871406-7509">(809) 270-0543 & (809) 408-5960</a></div>
          </div>
          <div class="d-md-flex align-items-center">
            <div class="icon-wrapper shadow-info"><span class="uil uil-envelope text-primary light fs-4 z-index-1 ms-2"></span></div>
            <div class="flex-1 ms-3"><a class="fw-semi-bold text-900" href="mailto:phoenix@email.com">Jesusadelso25@gmail.com & </a></div>
          </div>
          <div class="mb-6 d-md-flex align-items-center">
            <div class="icon-wrapper shadow-info"><span class="uil uil-map-marker text-primary light fs-4 z-index-1 ms-2"></span></div>
            <div class="flex-1 ms-3"><a class="fw-semi-bold text-900" href="#!">Republica Dominicana</a></div>
          </div>
          <div class="d-flex"><a href="#!"><span class="fa-brands fa-facebook fs-2 text-primary me-3"></span></a><a href="#!"><span class="fa-brands fa-twitter fs-2 text-primary me-3"></span></a><a href="#!"><span class="fa-brands fa-linkedin-in fs-2 text-primary"></span></a></div>
        </div>
      </div>
      <div class="col-md-6 text-center text-md-start">
        <h3 class="mb-3">Escríbanos</h3>
        <p class="mb-7">Si tiene alguna consulta o sugerencia, estamos abiertos a aprender de usted. Hablemos, comuníquese con nosotros en cualquier momento.</p>
        <form class="row g-4">
          <div class="col-12"><input class="form-control bg-white" type="text" name="name" placeholder="Name" required="required" /></div>
          <div class="col-12"><input class="form-control bg-white" type="email" name="email" placeholder="Email" required="required" /></div>
          <div class="col-12"><textarea class="form-control bg-white" rows="6" name="message" placeholder="Message" required="required"></textarea></div>
          <div class="col-12 d-grid"><button class="btn btn-outline-primary" type="submit">Submit</button></div>
          <div class="feedback"></div>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}