{% extends '../base.html' %}

{% block title %}PROTOTIPOS{% endblock %}
{% load static %}
{% block content %}
<!--BUSCADOR DE LA PAGINA DE INICIO-->
<div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
  <div class="modal-dialog">
    <div class="modal-content mt-15">
      <div class="modal-body p-0">
        <div class="chat-search-box">
          <div class="form-icon-container"><input class="form-control py-3 form-icon-input rounded-1" type="text" autofocus="autofocus" placeholder="Search People, Groups and Messages" /><span class="fa-solid fa-magnifying-glass fs--1 form-icon"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN-->
{% if Prototipos %}
    <div class="carousel slide carousel-fade" id="carouselExampleControls" data-bs-ride="carousel">
      <div class="carousel-inner rounded">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static Prototipos.foto_Portada.url %}" alt="First slide" style="height: 410px;" />
        </div>
      </div>
    </div>
   <section class="align-items-center container-small position-relative px-lg-7 px-xxl-3">
    <div class="text-center mb3">
      <h2 class="mb-4 text-info light">
        {{Prototipos.nombre}}
      </h2>
    </div>
    {% if  Desc %}
    <div>
      {% for Descrip in Desc%}
        {% if  Descrip.id_prototipo.id == Prototipos.id %}
          <div class="row text-center px-xl-11 mb-10 mb-md-9">
            <div class="col-md-12 order-1 order-md-0 text-center text-md-start">
              <h2 class="mb-3 text-center">
                  {{Descrip.titulo}}
              </h2>
              <h4 class="align-content-center align-content-md-center"> 
                <p class="text-justify">
                  {{Descrip.descripcion}}
                </p>
                {%if Descrip.foto.url != '/core/static/core/img/default/1.jpg' %}
                <div class="text-center p-1">
                <img class="w-75 w-md-100 mb-2" src="{% static Descrip.foto.url  %}" alt="" />
                <br>
                </div>
                {% endif %}
              </h4>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}
   </section>
   
   
   
   
   
    <!--CARUSEL PARA PAGINA DE PROTOTIPOS-->
    {% if ListGareria %}
    <section class="gallery">
      <div class="container-small position-relative px-lg-7 px-xxl-3">
        <div class="text-center mb-2">
          <h4 class="mb-4 text-info">GALERIA</h4>
        </div>
        <div class="row g-3" id="image_gallery" data-sl-isotope='{"layoutMode":"packery"}'>
          {% for Gal in ListGareria%}
           <div class="col-6 col-md-4 px-2 isotope-item fourth"><a href="#!" data-caption="{{Gal.2}}" data-bigpicture='{"gallery":"#image_gallery"}' data-bp=" {% static Gal.1.url %}"><img class="rounded img-fluid w-100" src="{% static Gal.1.url %}" alt="" /></a></div>
          {% endfor %}
        </div>
      </div>
    </section>
    {%endif%}
{% endif%}
{% endblock %}