{% extends '../base.html' %}

{% block title %}INICIO{% endblock %}

{% block content %}
{% load static %}
<!--BUSCADOR DE LA PAGINA DE INICIO-->
<div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
  <div class="modal-dialog">
    <div class="modal-content mt-15">
      <div class="modal-body p-0">
        <div class="chat-search-box">
          <div class="form-icon-container"><input class="form-control py-3 form-icon-input rounded-1" type="text" autofocus="autofocus" placeholder="Search People, Groups and Messages" /><span class="fa-solid fa-magnifying-glass fs--1 form-icon"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN-->

<!--Portada slider-->
<section class="pb-0 overflow-hidden" id="home" style="top:-90px;">
  <div class="hero-header-container-alternate position-relative">
    <div class="container-small px-lg-7 px-xxl-3">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 pt-0 pb-0 position-relative z-index-5 text-center text-lg-start">
          <h1 class="fs-5 fs-md-6 fs-xl-7 fw-black mb-4">
            <span class="text-gradient-info me-3">DESARROLLO</span>..<br /> WEB, MOVIL y ESCRITORIO 
          </h1>
          <p class="mb-5 pe-xl-10 text-justify">
            Llevar todos los registro a mano, Esto ya es anticuado te ofrecemos  una solución  el cual aumentar la eficiencia del negocio reduciendo tiempo de esperas para buscar una información 
            y aumentado la fiabilidad de los datos por la poca intervención por parte del usuario. En este caso nuestra meta es convertir tus sueños en realidad ya sea una página web, una aplicación 
            móvil o una aplicación de escritorio. 
          </p><a class="btn btn-lg btn-primary rounded-pill me-3" href="/LOGIN/" role="button">Iniciar Sesion</a><a class="btn btn-link me-2 fs-0 p-0 text-decoration-none" href="#!" role="button">Prototipos<span class="fa-solid fa-angle-right ms-2 fs--1"></span></a>
        </div>
        <div class="col-12 col-lg-auto d-none d-lg-block">
          <div class="hero-image-container position-absolute h-100 end-0 d-flex align-items-center">
            <div class="position-relative">
              <div class="position-absolute end-0 hero-image-container-overlay" style="transform: skewY(-8deg)"></div><img class="position-absolute end-0 hero-image-container-bg" src="{% static 'core/img/hero/bg-36.png'%}" alt="" /><img class="w-100 d-dark-none rounded-2 hero-image-shadow" src="{% static 'core/img/hero/portada.jpg'%}" alt="hero-header" /><img class="w-100 d-light-none rounded-2 hero-image-shadow" src="{% static 'core/img/hero/portada.jpg'%}" alt="hero-header" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-small px-md-8 mb-8 d-lg-none">
      <div class="position-relative">
        <div class="position-absolute end-0 hero-image-container-overlay"></div><img class="position-absolute top-50 hero-image-container-bg" src="{% static 'core/img/hero/bg-39.png'%}" alt="" /><img class="img-fluid ms-auto d-dark-none rounded-2 hero-image-shadow" src="{% static 'core/img/hero/portada.jpg'%}" alt="hero-header" /><img class="img-fluid ms-auto d-light-none rounded-2 hero-image-shadow" src="{% static 'core/img/hero/portada.jpg'%}" alt="hero-header" />
      </div>
    </div>
  </div>
</section>
<!--Caracteristicas-->
<section class="pt-0" id="blog">
  <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-left-22.png'%}" width="190" alt="" style="top: 50px; left: 50px" />
  <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-right-22.png'%}" width="190" alt="" style="bottom: 50px; right: 25px" />
  <div class="container-small px-lg-7 px-xxl-3">
    <div class="text-center mb-2 mb-2">
      <h2 class="text-info mb-3">CARACTERISTICAS</h2>
    </div>
    <div class="row gx-3 gy-7 pt-3">
      <div class="col-6 col-lg-3 ">
        <div class="blog-card text-center">
          <span class="uil uil-map-marker text-info light fs-6"></span>
          <h3 class="mb3 pe-sm-4 lh-lg">OBJECTIVO</h3>
          <p class="mb-2 pe-sm-5 lh-lg text-justify">Es crear programas informáticos que satisfagan las necesidades de un persona, negocio o empresas.</p>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="blog-card text-center">
          <span class="uil uil-cloud-lock text-info light fs-6"></span>
          <h3 class="mb3 pe-sm-4 lh-lg">SEGURIDAD</h3>
          <p class="mb-2 pe-sm-5 lh-lg text-justify">Garantizar seguridad y la veracidad de las informaciones de los datos dentro del software.</p>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="blog-card text-center">
          <span class="uil uil-clock-eight text-info light fs-6"></span>
          <h3 class="mb3 pe-sm-4 lh-lg">TIEMPO</h3>
          <p class="mb-2 pe-sm-5 lh-lg text-justify">Reducir la el tiempo de espera para realizar procesos o obtener una información.</p>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="blog-card text-center">
          <span class="uil uil-heart-rate text-info light fs-6"></span>
          <h3 class="mb3 pe-sm-4 lh-lg">EFECIENCIA</h3>
          <p class="mb-2 pe-sm-5 lh-lg text-justify">Aumentar las eficiencias mediantes procesos automatizados de las tareas que realizan.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Caracteristicas-->
<section class="pt-0" id="blog">
  <div class="container-small px-lg-7 px-xxl-3">
    <div class="text-center mb-2 mb-2">
      <h2 class="text-info mb-3">COMPROMISO</h2>
    </div>
    <div class="row gx-3 gy-7 pt-4">
      <div class="col-6 col-ms-1 col-lg-4">
        <div class="blog-card text-center">
          <h1 class="text-info light pt-4">01</h1>
          <h3 class="mb3 pe-sm-4 lh-lg pt-4">Las persona</h3>
          <p class="mb-2 pe-sm-5 lh-lg text-justify">Brindar un servicio de calidad, donde satisfacer tu necesidad es nuestra motivación</p>
        </div>
      </div>

      <div class="col-6 col-ms-1 col-lg-4">
        <div class="blog-card text-center">
          <h1 class="text-info light pt-4 ">02</h1>
          <h3 class="mb3 pe-sm-4 lh-lg pt-4">La seguridad </h3>
          <p class="mb-2 pe-sm-5 lh-lg text-justify">Caracterizar la veracidad de tus datos  encriptado tus datos  de extremos a extremos.</p>
        </div>
      </div>
      
      <div class="col-6 col-ms-1 col-lg-4">
        <div class="blog-card text-center">
          <h1 class="text-info light pt-4">03</h1>
          <h3 class="mb3 pe-sm-4 lh-lg pt-4">La Sociedad</h3>
          <p class="mb-2 pe-sm-5 lh-lg text-justify">Reducir el impacto del medio ambiente con el consumo de uso de hojas papel y otros recurso inesesarios.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--CARD PARA PAGINA DE NOVEDADES-->
{% if ListGeneral %}
  <section class="pt-0" id="blog">
    <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-right-22.png'%}" width="190" alt="" style="top: 50px; left: 0px" />
    <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-right-22.png'%}" width="190" alt="" style="bottom: 50px; right: 0px" />
    <div class="container-small px-lg-7 px-xxl-3">
      <div class="text-center mb-2 mb-2">
        <h2 class="text-info mb-3">PROTOTIPOS</h2>
        <h4 class="mb-2">MAS RESIENTES</h4>
      </div>
      <div class="row gx-3 gy-7">
        {% for Prot in ListGeneral%}
        <div class="col-6 col-ms-2 col-lg-4">
          <div class="blog-card">
            <img class="w-75 h-75 rounded-3" src="{% static Prot.1.url %}" alt="" />
            <div class="d-flex align-items-cente mt-3">
              <!--Vista de VIEWS-->
              <a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!">
                <span class="fa-solid fa-eye fs--1"></span>
                <span class="fs--2 ms-1 lh-1">{{Prot.4}}</span>
              </a>
              <!--Vista de LIKE-->
              <a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!">
                <span class="fa-solid fa-heart fs--1"></span>
                <span class="ms-1 fs--2 lh-1">{{Prot.5}}</span>
              </a>
              <!--Vista de Comentarios-->
              <a class="btn-link text-decoration-none text-800 d-flex align-items-center" href="#!">
                <span class="fa-solid fa-comment fs--1"></span>
                <span class="ms-1 fs--2 lh-1">{{Prot.6}}</span>
              </a>
            </div>
            <h2 class="mb3 pe-sm-4 lh-lg text-info text-center light">{{ Prot.2 }}</h2>
            <p class="mb-2 pe-sm-5 lh-lg text-justify">{{Prot.3}} </p>
            <a class="btn-link px-0 d-flex align-items-center fs--1 fw-bold" href="/PROTOTIPO/DETALLE/{{Prot.0}}" role="button">Detalles<span class="fa-solid fa-angle-right ms-2"></span></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div><!-- end of .container-->
  </section>
{% else %}
<section class="pt-0" id="blog">
  <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-right-22.png'%}" width="190" alt="" style="top: 50px; left: 0px" />
  <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-right-22.png'%}" width="190" alt="" style="bottom: 50px; right: 0px" />
  <div class="container-small px-lg-7 px-xxl-3">
    <div class="text-center mb-2 mb-2">
      <h2 class="text-info mb-3">PROTOTIPOS</h2>
      <h4 class="mb-2">NO AL PTOTOTIPOS RESIENTES</h4>
      <a class="rounded-pill text-decoration-none p-1 pb-1 mb-1 bottom-50" href="/INICIO/" style="width:150px; height:75px;">Refrecar la página</a>
    </div>
  </div><!-- end of .container-->
</section>
{% endif %}

{% endblock %}