{% extends '../base.html' %}

{% block title %}LOGIN{% endblock %}
{% load static %}
{% block content %} 

<main class="main" id="top">
  <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-left-22.png'%}" width="300" alt="" style="top: 25px; left: 25%" />
  <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-right-22.png'%}" width="300" alt="" style="bottom: 25px; right: 25%" />
  <form class="container-fluid px-0" data-layout="container" method="POST" action="/LOGIN">
     {% csrf_token %}
    <div class="container">
      <div class="row flex-center min-vh-100 py-5">
        <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a class="d-flex flex-center text-decoration-none mb-4" href="/INICIO/">
            <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img src="{% static 'core/img/icons/logo.png'%}" alt="phoenix" width="58" /></div>
          </a>
          <div class="text-center mb-7">
            <h3 class="text-1000">Iniciar sesión</h3>
            <p class="text-700">Obtenga acceso a su cuenta</p>
          </div>
          <div class="mb-3 text-start"><label class="form-label" for="email">DIRECCIÓN DE CORREO ELECTRÓNICO</label>
            <div class="form-icon-container"><input class="form-control form-icon-input" id="email" username="enail" type="email" placeholder="usuario@gmail.com" required /><span class="fas fa-user text-900 fs--1 form-icon"></span></div>
          </div>
          <div class="mb-3 text-start"><label class="form-label" for="password">Contraseña</label>
            <div class="form-icon-container"><input class="form-control form-icon-input" id="password" username="password" type="password" placeholder="Contraseña" required /><span class="fas fa-key text-900 fs--1 form-icon"></span></div>
          </div>
          <div class="row flex-between-center mb-7">
            <div class="col-auto">
              <div class="form-check mb-0"><input class="form-check-input" id="basic-checkbox" type="checkbox" checked="checked" /><label class="form-check-label mb-0" for="basic-checkbox">Recordar</label></div>
            </div>
            <div class="col-auto"><a class="fs--1 fw-semi-bold" href="#!">¿Olvidate tu contraseña?</a></div>
          </div><button class="btn btn-primary w-100 mb-3">Iniciar sesión</button>
          <div class="text-center"><a class="fs--1 fw-bold" href="/REGIST/">Crea tu cuenta</a> <br><a class="fs--1 fw-bold" href="/INICIO/">Regresar</a></div>
        </div>
      </div>
    </div>
  </form>
</main>

{% endblock %}