{% extends '../base.html' %}

{% block title %}NOSOTROS{% endblock %}

{% block content %}
{% load static %}
<!--BUSCADOR DE LA PAGINA DE INICIO-->
<div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
  <div class="modal-dialog">
    <div class="modal-content mt-15">
      <div class="modal-body p-0">
        <div class="chat-search-box">
          <div class="form-icon-container"><input class="form-control py-3 form-icon-input rounded-1" type="text" autofocus="autofocus" placeholder="Search People, Groups and Messages" /><span class="fa-solid fa-magnifying-glass fs--1 form-icon"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN-->
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pt-13 pb-4" id="feature">
  <div class="container-small px-lg-7 px-xxl-3">
    <div class="text-center mb-10 mb-md-5">
      <h3 class="text-info mb-3">D'SOFTWARE SOLUTION</h3>
      <p class="mb-3 text-justify">
        El desarrollo de soluciones de software es un proceso que se lleva a cabo mediante la aplicación de metodologías de desarrollo de software. 
        El ciclo de vida de desarrollo d el software (SDLC) es un marco que se utiliza para desarrollar, implementar y mantenerel software. 
        El SDLC se enfoca en el proceso para mejorar la calidad del software y formaliza las tareas o actividades en seis u ocho etapas para que sea posible medir y analizar el proceso.
        Para garantizar el desarrollo seguro de software, se pueden utilizar metodologías de desarrollo de software seguro como Microsoft, Iniciativa Trustworthy Computing, OSSTMM y OWASP. 
        La implementación de buenas prácticas en todo el ciclo de vida del software es fundamental para garantizar la seguridad del software.


      </p>
    </div>
    <div class="row flex-between-center px-xl-11 mb-10 mb-md-9">
      <div class="col-md-6 order-1 order-md-0 text-center text-md-start">
        <h4 class="mb-3">Recieve the signals instantly</h4>
        <p class="mb-5">Phoenix allows you to receive every signal instantly and fruitfully. No need for long waits.</p><a class="btn btn-link me-2 p-0 fs--1" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
      </div>
      <div class="col-md-5 mb-5 mb-md-0 text-center"><img class="w-75 w-md-100 d-dark-none" src="{% static 'core/img/spot-illustrations/34.png' %}" alt="" /><img class="w-75 w-md-100 d-light-none" src="{% static 'core/img/spot-illustrations/34_2.png' %}" alt="" /></div>
    </div>
    <div class="row flex-between-center px-xl-11 mb-10 mb-md-9">
      <div class="col-md-6 order-1 order-md-0 text-center text-md-start">
        <h4 class="mb-3">Make everyday a joyride</h4>
        <p class="mb-5">Phoenix helps you show reports and data in one place and make the journey a glee trip for everyone.</p><a class="btn btn-link me-2 p-0 fs--1" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
      </div>
      <div class="col-md-5 mb-5 mb-md-0 text-center"><img class="w-75 w-md-100 d-dark-none" src="{% static 'core/img/spot-illustrations/35.png' %}" alt="" /><img class="w-75 w-md-100 d-light-none" src="{% static 'core/img/spot-illustrations/35_2.png' %}" alt="" /></div>
    </div>
    <div class="row flex-between-center px-xl-11 false">
      <div class="col-md-6 order-1 order-md-0 text-center text-md-start">
        <h4 class="mb-3">See Your Revenue Grow</h4>
        <p class="mb-5">Grow with Phoenix. We help you with everything you might need, We make it easy and keep it simple.</p><a class="btn btn-link me-2 p-0 fs--1" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
      </div>
      <div class="col-md-5 mb-5 mb-md-0 text-center"><img class="w-75 w-md-100 d-dark-none" src="{% static 'core/img/spot-illustrations/36.png' %}" alt="" /><img class="w-75 w-md-100 d-light-none" src="{% static 'core/img/spot-illustrations/36_2.png' %}" alt="" /></div>
    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->
{%if contact%}
<div class="position-relative pb-5">
  <div class="bg-holder z-index-2 d-none d-md-block" style="background-image:url({% static 'core/img/bg/13.png'%});background-size:auto;background-position:right;"></div>
  <!--/.bg-holder-->
  <div class="bg-holder z-index-2 d-none d-md-block d-lg-none d-xl-block" style="background-image:url({% static 'core/img/bg/bg-12.png'%});background-size:auto;background-position:left;"></div>
  <!--/.bg-holder-->
  <div class="bottom-0 start-0 end-0 bg-white"><svg class="w-100 text-soft" viewBox="0 0 1920 368" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1920 0.44L0 367.74V0H1920V0.44Z" fill="currentColor"></path>
    </svg></div>
  <section class="pb-0 bg-white overflow-hidden position-static">
    <div class="container-small px-lg-7 px-xxl-3">
      <div class="row">
        <div class="col-lg-6 mb-6 text-center text-lg-start z-index-2">
          <h4 class="text-primary fw-bolder mb-3">Testimonial</h4>
          <h2 class="mb-3 text-black">More than 2 Millions happy<br />Customers and counting</h2>
          <p class="mb-5">You may now concentrate on the functionality and other <br class="d-none d-sm-block" />aspects of your web products thanks to Phoenix's strength<br class="d-none d-sm-block" />before leaving the UI design to us. It is simple to complete<br class="d-none d-sm-block" />the work after checking and double-checking.</p>
        </div>
        <div class="col-lg-6 z-index-2">
          <div class="carousel slide" id="carouselExampleIndicators" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for Contact in contact%}
              <div class="carousel-item {% if Contact.id == id %} active {% endif %}">
                <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                  <div class="col-lg-6 col-xl-5 text-center">
                    <div class="testimonial-avatar-container d-inline-block position-relative">
                      <div class="bg-holder" style="background-image:url({% static 'core/img/bg/bg-2.png'%});background-size:contain;"></div>
                      <!--/.bg-holder-->
                      <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="{% static  Contact.foto.url %}" width="153" height="153" alt="" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                    <div class="mb-4 light"><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span></div>
                    <h3 class="fs-1 fs-xl-2 mb-5 lh-sm me-md-7 me-lg-0">{{Contact.frase}}</h3>
                    <h6>{{ Contact.nombre}}</h6>
                    <h6 class="fw-normal">{{Contact.ocupacion}}</h6>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{%endif%}

{% endblock %}