{% extends '../base.html' %}

{% block title %}NOVEDADES{% endblock %}
{%load static%}
{% block content %}
<!--BUSCADOR DE LA PAGINA DE INICIO-->
<div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
  <div class="modal-dialog">
    <div class="modal-content mt-15">
      <div class="modal-body p-0">
        <div class="chat-search-box">
          <div class="form-icon-container"><input class="form-control py-3 form-icon-input rounded-1" type="text" autofocus="autofocus" placeholder="Search People, Groups and Messages" /><span class="fa-solid fa-magnifying-glass fs--1 form-icon"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN-->
<!--SLider PARA PAGINA DE PROTOTIPOS-->
{% if Tipos %}
<div class="carousel slide carousel-fade  " id="carouselExampleCaptions" data-ride="carousel">
<div class="carousel-indicators">
  <button class="" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
</div>
<div class="carousel-inner rounded-1 light">
  {% for TipC in Tipos%}
      {% if TipC.id == TipCount %}
        <div class="carousel-item active">
          <img class="d-block w-100 max-vh-75 opacity-75" src="{% static TipC.foto_Portada.url %}" alt="First slide" style="height: 410px;">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="text-white">{{TipC.titulo}}</h2>
            <p>{{TipC.descripcion}}</p>
          </div>
        </div>
      {% else %}
      <div class="carousel-item ">
        <img class="d-block w-100 max-vh-75 opacity-75" src="{% static TipC.foto_Portada.url %}" alt="First slide" style="height: 410px;">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="text-white">{{TipC.titulo}}</h2>
          <p>{{TipC.descripcion}}</p>
        </div>
      </div>
      {% endif %}
  {% endfor %}
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
  <span class="carousel-control-prev-icon bg-opacity-25" aria-hidden="true"></span>
  <span class="sr-only">Prev</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
  <span class="carousel-control-next-icon bg-opacity-25" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</button>
</div>

<!--FIN SLider-->
<!--CARD PARA PAGINA DE DESCKTOP-->
<section class="pt-5" id="blog">
<div class="container-small px-lg-7 px-xxl-3">
  <div class="text-center mb-2 mb-2">
    <h2 class="text-info mb-3">CATEGORIA PROTOTIPOS</h2>
    <a class="text-decoration-none" href="#!"><h3 class="mb-2">PROTOTIPOS RECIENTES  </h3></a>
  </div>
  <div class="row gx-3 gy-7 pt-3 mb-3">
  {% if ListGeneral%}
    {% for Prot in ListGeneral%}
        <div class="col-6 col-ms-2 col-lg-4">
          <div class="blog-card">
            <img class="w-75 h-75 rounded-3" src="{% static Prot.1.url %}" alt="" />
            <div class="d-flex align-items-cente mt-3">
              <!--Vista de VIEWS-->
              <a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!">
                <span class="fa-solid fa-eye fs--1"></span>
                <span class="fs--2 ms-1 lh-1">{{Prot.4}}</span>
              </a>
              <!--Vista de LIKE-->
              <a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!">
                <span class="fa-solid fa-heart fs--1"></span>
                <span class="ms-1 fs--2 lh-1">{{Prot.5}}</span>
              </a>
              <!--Vista de Comentarios-->
              <a class="btn-link text-decoration-none text-800 d-flex align-items-center" href="#!">
                <span class="fa-solid fa-comment fs--1"></span>
                <span class="ms-1 fs--2 lh-1">{{Prot.6}}</span>
              </a>
            </div>
            <h2 class="mb3 pe-sm-4 lh-lg text-info text-center light">{{ Prot.2 }}</h2>
            <p class="mb-2 pe-sm-5 lh-lg text-justify">{{Prot.3}} </p>
            <a class="btn-link px-0 d-flex align-items-center fs--1 fw-bold" href="/PROTOTIPO/DETALLE/{{Prot.0}}" role="button">Detalles<span class="fa-solid fa-angle-right ms-2"></span></a>
          </div>
        </div>
    {% endfor %}
  {% else %}
    <div class="col-6 col-ms-2 col-lg-4">
      <div class="blog-card">
        <img class="w-75 h-75 rounded-3 placeholder" src="{% static 'core/img/default/1.jpg'%}" alt=""  />
        <div class="d-flex align-items-cente mt-3">
          <!--Vista de VIEWS-->
          <a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!">
            <span class="fa-solid fa-eye fs--1"></span>
            <span class="fs--2 ms-1 lh-1">0</span>
          </a>
          <!--Vista de LIKE-->
          <a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!">
            <span class="fa-solid fa-heart fs--1"></span>
            <span class="ms-1 fs--2 lh-1">0</span>
          </a>
          <!--Vista de Comentarios-->
          <a class="btn-link text-decoration-none text-800 d-flex align-items-center" href="#!">
            <span class="fa-solid fa-comment fs--1"></span>
            <span class="ms-1 fs--2 lh-1 ">0</span>
          </a>
        </div>
        <h2 class="mb3 pe-sm-4 lh-lg text-info light opacity-25">Nombre</h2>
        <p class="mb-2 pe-sm-5 lh-lg text-justify opacity-25"> Descripción: No Data</p>
        <a class="btn-link px-0 d-flex align-items-center fs--1 fw-bold opacity-25" href="#!" role="button">Detalles<span class="fa-solid fa-angle-right ms-2"></span></a>
      </div>
    </div>
  {% endif %}
</div><!-- end of .container-->
</section>

{% else %}
<!--SLider PARA PAGINA DE PROTOTIPOS-->
<div class="carousel slide carousel-fade  " id="carouselExampleCaptions" data-ride="carousel">
<div class="carousel-indicators">
  <button class="" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
</div>
<div class="carousel-inner rounded-1 light">
  <div class="carousel-item">
    <img class="d-block w-100 max-vh-75 opacity-75" src="{% static 'core/img/inner/1.jpg' %}" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
      <h2 class="text-white">First Slide Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="carousel-item">
    <img class="d-block w-100 max-vh-75 opacity-75" src="{% static 'core/img/inner/2.jpg' %}" alt="Second slide">
    <div class="carousel-caption d-none d-md-block">
      <h2 class="text-white">Second Slide Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="carousel-item active">
    <img class="d-block w-100 max-vh-75 opacity-75" src="{% static 'core/img/inner/3.jpg' %}" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
      <h2 class="text-white">Third Slide Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
  <span class="carousel-control-prev-icon bg-opacity-25" aria-hidden="true"></span>
  <span class="sr-only">Prev</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
  <span class="carousel-control-next-icon bg-opacity-25" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</button>
</div>
<!--FIN SLider-->
<section class="pt-5" id="blog">
  <div class="container-small px-lg-7 px-xxl-3">
    <div class="text-center mb-2 mb-2">
      <h2 class="text-info mb-3">CATEGORIA PROTOTIPOS</h2>
      <a class="text-decoration-none" href="#!"><h3 class="mb-2">No Al Novedades </h3></a>
      <a class="rounded-pill text-decoration-none p-1 pb-1 mb-1 bottom-50" href="/NOVEDADES/" style="width:150px; height:75px;">Refrecar la página</a>
    </div>
  </div>
  </section>
{% endif%}
{% endblock %}