{% extends '../base.html' %}

{% block title %}INICIO{% endblock %}

{% block content %}
{% load static %}

<!--BUSCADOR DE LA PAGINA DE INICIO-->
<div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
  <div class="modal-dialog">
    <div class="modal-content mt-15">
      <div class="modal-body p-0">
        <div class="chat-search-box">
          <div class="form-icon-container"><input class="form-control py-3 form-icon-input rounded-1" type="text" autofocus="autofocus" placeholder="Search People, Groups and Messages" /><span class="fa-solid fa-magnifying-glass fs--1 form-icon"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN-->

<div class="content  p-5">
  <div class="mb-9">
    <div class="row g-6">
      <div class="col-12 col-xl-4">
        <div class="card cover-image mb-5">
          <div class="card-header hover-actions-trigger position-relative mb-6" style="min-height: 130px; ">
            <div class="bg-holder" style="background-image: linear-gradient(0deg, #000000 -3%, rgba(0, 0, 0, 0) 83%), url('{% static 'core/img/generic/59.png'%}')"><input class="d-none" id="upload-cover-image" type="file" /><label class="cover-image-file-input" for="upload-cover-image"></label>
              <div class="hover-actions end-0 bottom-0 pe-1 pb-2 text-white"><span class="fa-solid fa-camera me-2"></span></div>
            </div><input class="d-none" id="upload-porfile-picture" type="file" /><label class="avatar avatar-4xl status-online feed-avatar-profile cursor-pointer" for="upload-porfile-picture"><img class="rounded-circle img-thumbnail bg-white shadow-sm" src="{% static 'core/img/icons/profile.png' %}" width="200" alt="" /></label>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="d-flex flex-wrap mb-2 align-items-center">
                  <h3 class="me-2">Ansolo Lazinatov</h3><span class="fw-normal fs-0">u/hansolo</span>
                </div>
                <div class="d-flex align-items-center">
                  <div class="d-flex"><span class="fa-solid fa-user-group fs--2 me-2 me-lg-1 me-xl-2"></span>
                    <h6 class="d-inline-block mb-0">1297<span class="fw-semi-bold ms-1 me-4">Followers</span></h6>
                  </div>
                  <div class="d-flex"><span class="fa-solid fa-user-check fs--2 me-2 me-lg-1 me-xl-2"></span>
                    <h6 class="d-block d-xl-inline-block mb-0">3971<span class="fw-semi-bold ms-1">Following</span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-bottom border-dashed pb-3 mb-4">
          <h5 class="text-900 mb-3">¿Quién podrá ver tu perfil?</h5>
          <div class="form-check"><input class="form-check-input" id="onlyMe" type="radio" checked="checked" name="profiileVisibility" /><label class="form-check-label fs-0" for="onlyMe">Solo yo</label></div>
          <div class="form-check"><input class="form-check-input" id="myFollowers" type="radio" name="profiileVisibility" /><label class="form-check-label fs-0" for="myFollowers">Mis seguidores</label></div>
          <div class="form-check"><input class="form-check-input" id="everyone" type="radio" name="profiileVisibility" /><label class="form-check-label fs-0" for="everyone">Todos</label></div>
        </div>
        <div class="border-bottom border-dashed pb-3 mb-4">
          <h5 class="text-900 mb-3">¿Quién puede etiquetarte?</h5>
          <div class="form-check"><input class="form-check-input" id="tagGroupMembers" type="radio" checked="checked" name="tagPermission" /><label class="form-check-label fs-0" for="tagGroupMembers">Miembros del grupo</label></div>
          <div class="form-check"><input class="form-check-input" id="tagEveryone" type="radio" name="tagPermission" /><label class="form-check-label fs-0" for="tagEveryone">Todos</label></div>
        </div>
        <div class="border-bottom border-dashed pb-3 mb-4">
          <div class="form-check"><input class="form-check-input" id="showEmail" type="checkbox" name="showEmail" /><label class="form-check-label fs-0" for="showEmail">Permitir que los usuarios muestren su correo electrónico</label></div>
          <div class="form-check"><input class="form-check-input" id="showExperiences" type="checkbox" name="showExperiences" /><label class="form-check-label fs-0" for="showExperiences">Permita que los usuarios muestren sus experiencias</label></div>
          <div class="form-check"><input class="form-check-input" id="showFollowers" type="checkbox" checked="checked" name="showFollowers" /><label class="form-check-label fs-0" for="showFollowers">Permita que los usuarios muestren a sus seguidores</label></div>
        </div>
        <div class="mb-4">
          <div class="form-check form-switch"><input class="form-check-input" id="showPhone" type="checkbox" checked="checked" name="showPhone" /><label class="form-check-label fs-0" for="showPhone">muestra tu número de teléfono</label></div>
          <div class="form-check form-switch"><input class="form-check-input" id="permitFollow" type="checkbox" checked="checked" name="permitFollow" /><label class="form-check-label fs-0" for="permitFollow">Permita que los usuarios lo sigan.</label></div>
        </div>
      </div>
      <div class="col-12 col-xl-8">
        <div class="border-bottom border-300 mb-4">
          <div class="mb-6">
            <h4 class="mb-4">Informacion personal</h4>
            <div class="row g-3">
              <div class="col-12 col-sm-6">
                <div class="form-icon-container">
                  <div class="form-floating"><input class="form-control form-icon-input" id="firstName" type="text" placeholder="First Name" /><label class="text-700 form-icon-label" for="firstName">Nombre</label></div><span class="fa-solid fa-user text-900 fs--1 form-icon"></span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-icon-container">
                  <div class="form-floating"><input class="form-control form-icon-input" id="lastName" type="text" placeholder="Last Name" /><label class="text-700 form-icon-label" for="lastName">Apellido</label></div><span class="fa-solid fa-user text-900 fs--1 form-icon"></span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-icon-container">
                  <div class="form-floating"><input class="form-control form-icon-input" id="SegfirstName" type="text" placeholder="Seg First Name" /><label class="text-700 form-icon-label" for="firstName">Segundo Nombre</label></div><span class="fa-solid fa-user text-900 fs--1 form-icon"></span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-icon-container">
                  <div class="form-floating"><input class="form-control form-icon-input" id="SeglastName" type="text" placeholder="Seg Last Name" /><label class="text-700 form-icon-label" for="lastName">Segundo Apellido</label></div><span class="fa-solid fa-user text-900 fs--1 form-icon"></span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-icon-container">
                  <div class="form-floating"><input class="form-control form-icon-input" id="emailSocial" type="email" placeholder="Email" /><label class="text-700 form-icon-label" for="emailSocial">Introduce tu correo electronico</label></div><span class="fa-solid fa-envelope text-900 fs--1 form-icon"></span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-icon-container">
                  <div class="form-floating"><input class="form-control form-icon-input" id="phone" type="tel" placeholder="Phone" /><label class="text-700 form-icon-label" for="phone">Ingresa tu telefono</label></div><span class="fa-solid fa-phone text-900 fs--1 form-icon"></span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-icon-container">
                  <div class="form-floating"><textarea class="form-control form-icon-input" id="info" style="height: 115px;" placeholder="Info"></textarea><label class="text-700 form-icon-label" for="info">Información</label></div><span class="fa-solid fa-circle-info text-900 fs--1 form-icon"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-3 mb-6">
            <div class="col-12 col-sm-6">
              <h4 class="mb-4">Informacion de la compañia</h4>
              <div class="form-icon-container mb-3">
                <div class="form-floating"><input class="form-control form-icon-input" id="companyName" type="text" placeholder="Company Name" /><label class="text-700 form-icon-label" for="companyName">Nombre de Empresa</label></div><span class="fa-solid fa-building text-900 fs--1 form-icon"></span>
              </div>
              <div class="form-icon-container">
                <div class="form-floating"><input class="form-control form-icon-input" id="website" type="text" placeholder="Website" /><label class="text-700 form-icon-label" for="website">Sitio Web</label></div><span class="fa-solid fa-globe text-900 fs--1 form-icon"></span>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <h4 class="mb-4">Cambiar la contraseña</h4>
              <div class="form-icon-container mb-3">
                <div class="form-floating"><input class="form-control form-icon-input" id="oldPassword" type="password" placeholder="Old password" /><label class="text-700 form-icon-label" for="oldPassword">Contraseña Anterior</label></div><span class="fa-solid fa-lock text-900 fs--1 form-icon"></span>
              </div>
              <div class="form-icon-container mb-3">
                <div class="form-floating"><input class="form-control form-icon-input" id="newPassword" type="password" placeholder="New password" /><label class="text-700 form-icon-label" for="newPassword">Nueva Contraseña</label></div><span class="fa-solid fa-key text-900 fs--1 form-icon"></span>
              </div>
              <div class="form-icon-container">
                <div class="form-floating"><input class="form-control form-icon-input" id="newPassword2" type="password" placeholder="Confirm New password" /><label class="text-700 form-icon-label" for="newPassword2">Confirmar Nueva Contraseña</label></div><span class="fa-solid fa-key text-900 fs--1 form-icon"></span>
              </div>
            </div>
          </div>
          <div class="mb-6">
            <h4 class="mb-4">Tu Redes Sociales</h4>
            <div class="row g-3">
              <div class="col-12 col-sm-6">
                <div class="form-icon-container">
                  <div class="form-floating"><input class="form-control form-icon-input" id="facebook" type="text" placeholder="Facebook" /><label class="text-700 form-icon-label" for="facebook">Facebook</label></div><span class="fa-brands fa-facebook text-900 fs--1 form-icon"></span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-icon-container">
                  <div class="form-floating"><input class="form-control form-icon-input" id="twitter" type="text" placeholder="Twitter" /><label class="text-700 form-icon-label" for="twitter">Twitter</label></div><span class="fa-brands fa-twitter text-900 fs--1 form-icon"></span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-icon-container">
                  <div class="form-floating"><input class="form-control form-icon-input" id="youtube" type="text" placeholder="youtube" /><label class="text-700 form-icon-label" for="youtube">youtube</label></div><span class="fa-brands fa-youtube text-900 fs--1 form-icon"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end mb-6">
            <div>
              <button class="btn btn-phoenix-secondary me-2">Cancelar </button>
              <button class="btn btn-phoenix-primary">Guardar</button></div>
          </div>
        </div>
        <div class="row gy-5 align-content-center">
          <div class="col-12 col-md-6">
            <h4 class="text-black">Eliminar Cuenta</h4>
            <p class="text-700">Se Eliminara la cuenta en un periodo de tiempo de 24 horas despues de la confirmación.</p><button class="btn btn-phoenix-danger">Delete account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}