{% extends '../base.html' %}

{% block title %}REGISTRATE{% endblock %}
{% load static %}
{% block content %} 
<main class="main" id="top">
  <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-left-22.png'%}" width="300" alt="" style="top: 25px; left: 25%" />
  <img class="position-absolute d-none d-lg-block" src="{% static 'core/img/hero/bg-right-22.png'%}" width="300" alt="" style="bottom: 25px; right: 25%" />
    <form class="container-fluid px-0" data-layout="container" method="post" action="/REGIST/">
      {% csrf_token %}
      <div class="container">
        <div class="row flex-center min-vh-100 py-5">
          <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a class="d-flex flex-center text-decoration-none mb-4" href="/INICIO/">
              <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img src="{% static 'core/img/icons/logo.png'%}" alt="phoenix" width="58" /></div>
            </a>
            <div class="text-center mb-1">
              <h3 class="text-1000">Regístrate</h3>
              <p class="text-700">Crea tu cuenta hoy</p>
            </div>
            <form>
              <div class="mb-3 text-start"><label class="form-label" for="name">NOMBRE</label><input class="form-control" id="name" type="text" placeholder="nombre" /></div>
              <div class="mb-3 text-start"><label class="form-label" for="email">DIRECCIÓN DE CORREO ELECTRÓNICO</label><input class="form-control" id="email" type="email" placeholder="name@example.com" /></div>
              <div class="row g-3 mb-3">
                <div class="col-md-6"><label class="form-label" for="password">CONTRASEÑA</label><input class="form-control form-icon-input" id="password" type="password" placeholder="Contraseña" /></div>
                <div class="col-md-6"><label class="form-label" for="confirmPassword">CONFIRMAR CONTRASEÑA</label><input class="form-control form-icon-input" id="confirmPassword" type="password" placeholder="Confirmar Contraseña" /></div>
              </div>
              <div class="form-check mb-3"><input class="form-check-input" id="termsService" type="checkbox" /><label class="form-label fs--1 text-none" for="termsService">Acepto <a href="#!">términos </a>Y<a href="#!"> política de privacidad </a></label></div><button class="btn btn-primary w-100 mb-3">Registral</button>
              <div class="text-center"><a class="fs--1 fw-bold" href="/LOGIN/">Iniciar sesión en una cuenta existente</a><br><a class="fs--1 fw-bold" href="/INICIO/">Regresar</a></div>
            </form>
          </div>
        </div>
      </div>
    </form>
  </main>
{% endblock %}